@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root{
    --Very-dark-blue-main-background: hsl(233, 47%, 7%);
    --Dark-desaturated-blue-card-background: hsl(244, 38%, 16%);
    --Soft-violet-accent: hsl(277, 64%, 61%);
    --White-main-heading-stats: hsl(0, 0%, 100%);
    --Slightly-transparent-white-main-paragraph: hsla(0, 0%, 100%, 0.75);
    --Slightly-transparent-white-stat-headings: hsla(0, 0%, 100%, 0.6);

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--Very-dark-blue-main-background);
    width: 100%;
    height: 100vh;
}
.main{
    width: 100%;
    height: 100%;
    background-color: var(--Very-dark-blue-main-background);
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 88px 0 88px 0; */
}
.main .card{
    position: relative;
    background-color: var(--Dark-desaturated-blue-card-background);
    border-radius: 9px;
    overflow: hidden;
   
}
.card .hero-img{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.card .hero-img .blur{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(170, 92, 219, 0.6);
}
.card .content{
    padding: 2.56rem 1.5rem 2.06rem 1.5rem;
}
.card .content h1{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.87rem;
    line-height: 2rem;
    text-align: center;
    letter-spacing: -0.025em;
    color: var(--White-main-heading-stats);
}
.card .content h1 span{
    color: var(--Soft-violet-accent);
}
.card .content p{
    font-family: 'Inter', sans-serif;
    color: var(--Slightly-transparent-white-main-paragraph);
    text-align: center;
    font-size: 0.895rem;
    line-height: 176.52%;
    letter-spacing: 0.035em;
    font-weight: 400;
    margin: 18px 0 34px 0;
}
.card .content .stats{
    display: flex;
    flex-direction: column;
    gap: 1.12rem;
}
.card .content .stats .stat h2{
    color: var(--White-main-heading-stats);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 176.52%;
    text-align: center;
    letter-spacing: -0.01em;
}
.card .content .stats .stat h3{
    color: var(--Slightly-transparent-white-stat-headings);
    text-transform: uppercase;
    font-family: 'Lexend Deca', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 176.52%;
    text-align: center;
    letter-spacing: 0.01em;
}
@media (min-width: 357px) {
    .card{
        display: flex;
        flex-direction: column;
        max-width: 20.43rem;
    }
    .card .hero-img{
        background-image: url(./images/image-header-mobile.jpg);
        max-width: 100%;
        flex-basis: 15rem;
        flex-shrink: 1;
    }
}
@media (min-width: 1200px) {
    .card{
        display: flex;
        flex-direction: row-reverse;
        max-width: 69.43rem;
    }
    .card .hero-img{
        background-image: url(./images/image-header-desktop.jpg);
        flex-basis: 33.75rem;
        z-index: 5;
        width: 33.75rem;
    }
    .card .content{
        padding: 4.43rem 7.18rem 3.81rem 4.56rem;
        max-width: 35.68rem;
    }
    .card .content h1{
        font-size: 2.18rem;
        text-align: left;
        line-height: 2.81rem;
    }
    .card .content p{
        text-align: left;
        margin: 1.56rem 0 4.12rem 0;
    }
    .card .content .stats{
        display: flex;
        flex-direction: row;
        gap: 4.6rem;
    }
    .card .content .stats .stat h2,
    .card .content .stats .stat h3{
        text-align: left;
    }
}